@mixin centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin extended {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
}
@mixin rounded($size) {
    border-radius: 50%;
    width: $size;
    height: $size;
}
#app {
    @include extended;
    @include centered;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
#app div,
#app .config-section,
#app h1 {
    flex-grow: 1;
}
.title-type-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#timer {
    border: 4px solid red;
    font-size: 3em;
    @include rounded(200px);
    @include centered;
}
.config-section {
    @include centered;
    width: 100%;
}
.config-section h3 {
    font-size: 1em;
}
.config-section p {
    font-size: 2em;
}
@keyframes rotation {
    from {transform:rotate(0);}
    to {transform:rotate(360deg);}
}
#timer::before {
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    content: "";
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position:  absolute;
    border: 4px solid;
}
#timer.display-break::before {
    border-color: #cc1919 #8e0f0f #460404 #400202;
}
#timer.display-session::before {
    border-color: #7d6b6b #424b56 #4d9c94 #747496;
}
