@import url("https://fonts.googleapis.com/css?family=Abel");
html, body, #app {
  height: 100%;
}

#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: auto;
  background-color: #0c0c0c;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

body {
  font-family: "Abel", sans-serif;
}

#app div,
#app .config-section,
#app h1 {
  flex-grow: 1;
}

.pomodore-title {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 3em;
  color: #0056ff;
}

.title-type-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.timer-type {
  font-size: 2em;
}

.config-title {
  font-size: 1.5em;
}

.title-session {
  color: #227369;
}

.title-break {
  color: #732222;
}

#timer {
  font-size: 3em;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.config-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.config-section p {
  font-size: 2em;
}

.config-section input {
  color: white;
  background-color: #0c0c0c;
  padding: 10px;
  max-width: 50px;
}

.bt-apply {
  color: white;
  background-color: #0c0c0c;
  padding: 15px;
  border-radius: 50%;
  text-transform: uppercase;
  width: 90px;
  height: 90px;
  border: 4px solid;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
#timer::before {
  animation-name: rotation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  content: "";
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  border: 4px solid #fff;
}

#timer.display-break::before {
  border-color: #cc1919 #8e0f0f #460404 #400202;
}

#timer.display-session::before {
  border-color: #7d6b6b #424b56 #4d9c94 #747496;
}

#timer p {
  color: white;
}
